.section-container {
  max-width: 1200px; /* sama dengan slideshow-container */
  margin: 0 auto;    /* supaya center */
  padding: 0 20px;   /* kiri kanan konsisten */
}

.carousel-container {
  display: flex;              /* atur sejajar horizontal */
  justify-content: space-between; /* beri jarak antar produk */
  gap: 20px;                  /* jarak antar card */
  flex-wrap: nowrap;          /* cegah turun ke bawah */
  overflow-x: auto;           /* kalau kepanjangan, bisa discroll horizontal */
  padding: 10px 0;
}

.product-card {
  flex: 0 0 220px; /* setiap card lebarnya tetap (220px), tidak mengecil/meluas */
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 6px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  margin-bottom: 5px;
}

.favorite-btn {
  top: 10px;
}

.view-btn {
  top: 50px;
}
.section-label {
  color: red;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.label{
    text-align: left;
}

.add-to-cart-btn {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0;
}

.product-card:hover .add-to-cart-btn {
  bottom: 10px;
  opacity: 1;
}

.favorite-btn:hover {
  background: red;
  color: white;
}

.price-section {
  margin: 5px 0;
}

.original-price {
  text-decoration: line-through;
  color: #777;
  font-size: 13px;
  margin-right: 5px;
}

.final-price {
  color: red;
  font-weight: bold;
}

.rating {
  font-size: 14px;
  color: gold;
  margin-top: 5px;
}


